@font-face{
    font-family: "segoe UI Semibold";
    src: url("../fonts/seguisb.ttf") format("ttf");
}
@font-face{
    font-family: "segoe UI";
    src: url("../fonts/segoeui.ttf") format("ttf");
}
@font-face{
    font-family: "Segoe UI";
    src: url("../fonts/Segoe\ UI\,\ Regular.ttf") format("ttf");
}
.navbar{
    border: none;
    background-color: white;
    margin-bottom: 0px;
}
.header-logo img {
    width: 217px;
    /* margin-left: 50px; */
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-default .navbar-nav .active a {
    background-color: white;
    /* border-bottom: 3px solid #32D2C7; */
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "segoe UI Semibold";
} 
.navbar-nav {
    padding-top: 10px;
    margin-right: -65px;
}
.navbar-default .navbar-nav li a {
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    
}
.navbar-default .navbar-nav li .button {
    background-color: #00458B;
    border: none;
    color: white;
    padding: 28px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 7px;
    padding: 6px 8px;
  }
.btn-default {
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
}
.container {
    padding: 0px;
}
.main-logo {
    background-image: url('../images/Mask\ Group\ 3.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ds-content {
    margin-top: 27px;
}
.ds-content h1 {
    background-color: #00458B;
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    padding: 18px 42px 18px 33px;
    opacity: 0.5;
    margin: 0px;
    
    margin-right: 73px;
}
.ds-content img {
    width: 38px;
    padding-top: 39px;
    margin-left: 35px;
}
.content {
    margin-bottom: 80px;
}
.ds-description p {
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    line-height: 30px;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 23px;
}
.ds-description .para-state {
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    padding-top: 10px;
}
.ds-description h2 {
    margin-left: 40px;
}
.ds-heading {
    /* display: flex; */
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    
    padding-bottom: 15px;
}
.row-wrapper-one{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}
h3 {
    font-size: 55px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    text-transform: uppercase;
}
 
.health-step1 {
    background: #00458B;
    border: 1px solid #D1D1D1;
    height: 343px;
    margin-bottom: 64px;
    text-align: center;
}
.health-step1 img {
    
    padding-top: 56px;
}
.health-step1 p {
    font-size: 24px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    padding-top: 10px;
   
    text-align: center;
}
.health-training {
    font-size: 24px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 90px;
}
.health-step2 {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    height: 343px;
    margin-bottom: 64px;
    text-align: center;
}
.health-step2 img {
 
    padding-top: 56px;
}
.health-step2 p {
    font-size: 24px;
    font-family: "segoe UI Semibold";
    color: #000000;
    padding-top: 10px;
    
    text-align: center;
}
.health-training1 {
    font-size: 24px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 93px;
}
.health-step3 {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    height: 343px;
    margin-bottom: 64px;
    text-align: center;
}
.health-step3 img {

    padding-top: 56px;
}
.health-step3 p {
    font-size: 24px;
    font-family: "segoe UI Semibold";
    color: #000000;
    padding-top: 10px;
   
    text-align: center;
}
.health-training2 {
    font-size: 24px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    text-align: center;
    
    padding-bottom: 36px;
}
.dws {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     justify-content: end;
}
.dws h4 {
    font-size: 55px;
    font-family: "segoe UI Semibold";
    color:  #00458B;
    margin-left: 12px;
}
.dws .home-care {
    font-size: 55px;
    font-family: "segoe UI Semibold";
    color: #32D2C7;
    margin-left: 12px;
}
.sec-list {
    padding-left: 0px;
    padding-top: 20px;
}
.sec-list li {
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    list-style: none;
    padding-bottom: 20px;
}
.sec-img img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    padding-top: 20px;
}
.ds-background {
    background: #E6E6E6;
}
.row-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.ds-image {
    padding-top: 57px;
    
}
.ds-content-one {
    padding: 0px;
    padding-left: 50px;
    margin-bottom: 53px;
    
}
.ds-image-one img {
    border: 10px solid #FFFFFF;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}


.ds-content-one h3 {
    font-size: 24px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    margin: 0px;
}
.ds-content-one h4 {
    font-size: 49px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    margin: 0px;
    padding-bottom: 21px;
}
.description {
    font-size: 18px;
    font-weight: 500;
    font-family: "Segoe UI";
    color: #000000;
    line-height: 32px;
    margin: 0px;
    padding-bottom: 20px;
}
.sec-2 {
    padding-left: 0px;
}
.sec-2 li {
    list-style: none;
    font-size: 20px;
    font-family: "segoe UI Semibold";
    color: #000000;
    padding-bottom: 36px;
}
.ds3 {
    padding-left: 70px;
}
.sec-2 li:nth-child(1) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 44px;
}
.sec-2 li:nth-child(2) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-2 li:nth-child(3) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-2 li:nth-child(4) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-3 {
   padding-left: 0px;
}
.sec-3 li {
    list-style: none;
    font-size: 20px;
    font-family: "segoe UI Semibold";
    color: #000000;
    padding-bottom: 36px;
}
.ds4 {
    padding-left: 70px;
}
.sec-3 li:nth-child(1) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 44px;
}
.sec-3 li:nth-child(2) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-3 li:nth-child(3) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-3 li:nth-child(4) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-3 li:nth-child(5) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-3 li:nth-child(6) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.section-1 {
    /* background-image: url('../images/hands-pattern.png'); */
    /* background-repeat: no-repeat; */
    /* background-color: #87ceeb;   */
    margin-top: 50px;
}
.sec-row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 85px;
}
.left-img-1 {
    display: flex;
    flex-wrap: wrap;
}
.left-img img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    width: 76px;
    /* padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px; */
}
.left-img h4 {
    font-size: 27px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    margin: 0px;
    padding-top: 31px;
    padding-bottom: 25px;
    padding-left: 10px;
}
/* .left h4 {
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
} */
.left {
    position: relative;
    background-color: #87ceeb;
    border-radius: 10px;
}
.left::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 9px;
    top: 28px;
    box-sizing: border-box;
    border: 1em solid#87ceeb;
    border-color: transparent transparent#87ceeb  #87ceeb;
    transform-origin: 0 0;
    transform: rotate(45deg);
    /* box-shadow: -3px 3px 3px 0 #00458B; */
}
.left p {
    font-size: 21px;
    font-family: "segoe UI Semibold";
    padding-top: 31px;
}
.right h5 {
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.right p {
    font-size: 22px;
    font-family: "segoe UI Semibold";
    padding-bottom: 25px;
}
.icon-item {
    display: flex;
    align-items: center;
    padding-bottom: 18px;
}
.title {
    padding-left: 25px;
}
.title h6 {
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #000000;
}
.sec-one-row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 85px;
    padding-bottom: 85px;
}
.ds-salary {
    background: #E6E6E6;
}
.ds-salary-one {
    background-color: #FFFFFF;
   
   
    margin-top: 50px;
    
}
.ds-salary-one h6 {
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    padding-left: 26px;
}
.ds-salary-one p {
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    line-height: 37px;
    padding-left: 26px;
    padding-bottom: 63px;
}
.sa {
    position: absolute;
    bottom: -20%;
}
.ecllipse {
    position: relative;
    width: 103px;
height: 103px;
}
.dollar {
    position: absolute;
    width: 36px;
    height: 80px;
    left: 30%;
    top: 9%;
}
.ds-i img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}  

.footer-content {
    background: #00458B; 
}
.footer-heading h5 {
    font-size: 29px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-top: 48px;
}
.footer-heading h6 {
    font-size: 43px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 11px;
}
.footer-heading p {
    font-size: 15px;
    font-family: "Segoe UI";
    color: #FFFFFF;
    font-weight: 300;
}
.copy-right {
    padding-top: 65px;
    padding-bottom: 34px;
}
.ds-address {
    padding-top: 48px;
    color: #FFFFFF;
}
.ds-address p {
    margin: 0px;
    padding-left: 24px;
    padding-bottom: 15px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
}
.ds-contact li {
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI";
    padding-bottom: 15px;
}